div.faction-board {
  width: 1190px;
}

div.bonus {
  width: 85px !important;
  height: 243px !important;
}

div.favor {
  width: 173px !important;
  height: 115px !important;
}

div.town {
  width: 110px !important;
  height: 115px !important;
}
div.pool {
  width: 1190px;
}

div#action_required {
  max-width: 1190px;
}

div#next_game {
  max-width: 1190px;
}

div#header {
  max-width: 1190px;
}
